<div class="container">
  <h3 class="mt-3">Login</h3>
<form action="/login" method="post" class="mt-3">
    <div class="container aria-expanded">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
    
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="/signup" class="register-link">Sign up</a>
    </div>    
</form>
</div>