    <div class="author">
        <h1 class="author__heading mt-2">
           <%= data.title %>
        </h1>
        <article class="articles author__body">
            <%= data.body %>
        </article>
    </div>

  